@use "../_mediaQuerys.scss" as media; //@import "../_mediaQuerys.scss"; se expresa una advertencia de cambio de este comando

.listFound{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 10px;
    @include media.mediumScreen{//consecuencia de la sintaxis de @use
        width: 75%;
    };
    @include media.littleScreen{//consecuencia de la sintaxis de @use
        width: 90%;
    };
    
    li{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        cursor: pointer;
        >p:nth-of-type(1){
            font-weight: 400;
        }
        img{
            width: 80px;

        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                margin: 0;
            }
            >p:nth-of-type(2){
                font-size: 0.7rem;
            }
        }
    }
}