@import "../_mediaQuerys.scss";
.container__Logo{
    display: grid;
    grid-template-rows: 130px 30px;
    grid-template-columns: 300px;
    justify-items: center;
    .diastole{
        transition: all 0.6s ease-in;
        width: 150px;        
    }
    .sistole{
        transition: all 0.7s ease-out;
        width: 130px;
    }
    .logoTitle{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-image:linear-gradient(to right,rgb(28 190 239),rgb(227 88 234));
        background-clip: text;
        color: transparent;
    }
}

